.todayBox{
  width: 500px;
  height: 450px;
  border: 4px solid black;
}

.requireBox{
  width: 400px;
  height: 253px;
  border: 4px solid black;
}

.dashIcon{
  transform: scale(10);
  margin-left: 190px;
  margin-top: 150px;
  padding-bottom: 20px
}

.boxText{
  font-size: 20px;
  height: auto
}
