/* Today's Task Box Styling */
.todayBox{
  width: 525px;
  height: 350px;
  border: 1px solid rgb(0, 110, 138);
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(208, 239, 248)), rgb(223, 239, 252);
  box-shadow: 1.5px 2px rgb(189, 189, 194);
  border-radius: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.todayLabel{
  margin-left: 20px;
  font-size: 15px;
  font-stretch: ultra-expanded;
  font-weight: bolder
}

/* Today's Task Scrollbar and smaller div for task list inside of the task box*/
.todayText{
  margin-left: 20px;
  margin-right: 20px;
  height: 150px;
  overflow-y: auto;
}

/* Today's Task Scrollbar Styling */
.todayText::-webkit-scrollbar {
  width: 18px;
}

.todayText::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.24, rgb(223, 245, 252)),
									   color-stop(0.47, rgb(76, 117, 167)),
									   color-stop(0.76, rgb(170, 227, 243)));
}

.todayText::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(170, 227, 243); 
  border-radius: 10px;
}

/* OVERDUE Today's Task Scrollbar and smaller div for task list inside of the task box*/
.overdueText{
  margin-left: 20px;
  margin-right: 20px;
  height: 85px;
  overflow-y: auto;
}

/* Today's Task Scrollbar Styling */
.overdueText::-webkit-scrollbar {
  width: 18px;
}

.overdueText::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.24, rgb(223, 245, 252)),
                     color-stop(0.47, rgb(76, 117, 167)),
									   color-stop(0.76, rgb(170, 227, 243)));
}

.overdueText::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(170, 227, 243); 
  border-radius: 10px;
}

/* overdue animation */
.overdueLabel{
  animation-name: overdue;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes overdue{
  0% {color: rgb(105, 9, 9);}
  35% {color: rgb(105, 9, 9);}
  50% {color: rgb(180, 32, 32);}
  85% {color: rgb(105, 9, 9);}
  100% {color: rgb(105, 9, 9);}
}

/* Requirement's Box Styling */
.requireBox{
  width: 400px;
  height: 175px;
  border: 1px solid rgb(8, 107, 41);
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(208, 248, 231)), rgb(223, 239, 252);
  box-shadow: 1.5px 2px rgb(183, 189, 186);
  border-radius: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 5%;
}

/* Requirement Scrollbar */
.requireText{
  margin: 20px;
  height: 90px;
  overflow-y: auto;
  
}

/* Requirement Scrollbar Styling */
.requireText::-webkit-scrollbar {
  width: 18px;
}

.requireText::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.24, rgb(221, 252, 239)),
									   color-stop(0.47, rgb(21, 129, 57)),
									   color-stop(0.76, rgb(173, 223, 202)));
}

.requireText::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(176, 230, 207); 
  border-radius: 10px;
}

.todayBox ul{
  list-style: none;
}

.todayBox ul li:before {
  content: "\2023 \0020";
}

.requireBox ul{
  list-style: none;
}
    
.requireBox ul li:before {
  content: "\2023 \0020";
}

.logoBox{
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%;
}

.logo{
  width: 100px;
  opacity: .65;
  opacity: 0.75;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dashAddIcon{
  transform: scale(1.5);
  padding-left: 4px
}

.boxText{
  font-size: 16px;
  height: auto
}

.pipelineBox{
  margin-left: 25px;
  margin-right: 50px;
}

.boxLabel{
  font-size: 1.5em;
  font-weight: bolder;
}

.boxIJALabel{
  margin-left: 5%;
  font-size: 1.5em;
  font-weight: bolder;
}