.notesIcon {
    margin-right: 30px;
    vertical-align: center;
}

.tasksNotes {
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 1px;
}

.taskNoteTextComplete {
    color: rgb(146, 146, 146);
    text-decoration: line-through;
}