table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;

  }
  
  tr:nth-child(even){background-color: #dce4e4}
  
  .header {
    background-color: #0d47a1;
    color: white;
  }